/* Main */
.logo_div {
    top: 25%;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
    position: absolute;
}

#logo_img{
    width: 300px;
}

.buttons{
    margin-top:30px;
}

.button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}
